<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Angular Reddit
  </h1>
</div>
<mat-card class="form-card"> 

  <mat-card-title>Add a Link</mat-card-title>

  <!--Form-->
  <form class="example-form">

    <!--Title-->
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Title" name="title" #varTitle >
    </mat-form-field>

    <!--Link-->
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Link" name="link" #varLink>
    </mat-form-field>

    <!--Submit Button-->
    <button mat-raised-button color="primary"
          (click)="addArticle( varTitle , varLink );">
      Submit Link
    </button>

  </form>
</mat-card>


<app-article *ngFor="let foobar of sortedArticles()"
             [article]="foobar"> </app-article>