<mat-card class="article-card">
  <mat-grid-list cols="3" rowHeight="6:1">

    <mat-grid-tile colspan=1 rowspan=2 style="background : lightgrey">
      <font size="100%">{{ article.votes }}</font>
    </mat-grid-tile>

    <mat-grid-tile colspan=2 rowspan=1 style="background : yellow" >
      <font size="6%" style="text-align: left">
        {{ article.title }}
      </font>
    </mat-grid-tile>
    
    <mat-grid-tile colspan=2 rowspan=1 style="background : yellow">
      {{ article.link }}
    </mat-grid-tile>

    <mat-grid-tile colspan=1 rowspan=1 style="background : lightgrey">
      Points
    </mat-grid-tile> 

    <mat-grid-tile colspan=1 rowspan=1>
      <button class="mybutton" color="primary"
              mat-raised-button
              (click)="voteUp()">
        <font size=5%>upvote</font>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan=1 rowspan=1>
      <button class="mybutton" color="primary"
              mat-raised-button
              (click)="voteDown()" >
        <font size=5%>downvote</font>
      </button>
    </mat-grid-tile>

  </mat-grid-list>
</mat-card>