.container{
    padding-left:2em;
    padding-right:2em;
    padding-bottom: 2em;
    margin-top:10em;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.534);
    border-radius: 15px;
    width: 30em;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
  }
