<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Demostration of {{ title }}!
  </h1>
</div>

<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/NgIf">NgIf</a></li>
  <li><a href="/NgSwitch">NgSwitch</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">NgFor</a>
    <div class="dropdown-content">
      <a href="/NgFor">NgFor</a>
      <a href="/NgForIndex">NgFor Index</a>
      <a href="/NgForTrackBy">NgFor TrackBy</a>
    </div>
  </li>
  <li><a href="/nestedStructure">nestedStructure</a></li>
</ul>

<router-outlet></router-outlet>
