<div style="text-align:center">
  <h1>
    Demostration String Interpolation
  </h1>
</div>

<div>
  
  Additon 2 + 3 ==> {{ 2 + 3 }} <br>

  Displaying Property of class ==> {{ FriendName }} <br>

  Displaying Property of class in uppercase ==> {{ FriendName.toUpperCase() }} <br>
  
  Calling User Defined Function ==> {{ fun() }} <br>

  Concatination {{ 2 + 5 + FriendName + fun() }}

  <!--
  
  This is Not Allowed
    {{ FriendName = 'shubham'}}
    {{ console.log("hello") }}
  
  -->

</div>
